/*
  Based on Bear Blog default CSS
  License MIT
*/

/* =========================
   CSS Variables
   ========================= */

:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;

  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;

  --gray-gradient: rgba(var(--gray-light), 50%), #fff;

  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

/* =========================
   Fonts
   ========================= */

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   Base
   ========================= */

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;

  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 1080px;

  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* =========================
   Layout
   ========================= */
.container {
  width: 1100px;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 2rem;

  width: 1080px;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  padding: 2rem 1rem;
}

.layout > main {
  margin: 0;
  padding: 0;
}

/* =========================
   Sidebar
   ========================= */

.sidebar {
  align-self: start;
  position: sticky;
  top: 1.5rem;
}

.sidebar-title {
  margin: 1rem 0 0 0rem;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(var(--black));
}

/* =========================
   Typography
   ========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 { font-size: 3.052em; }
h2 { font-size: 2.441em; }
h3 { font-size: 1.953em; }
h4 { font-size: 1.563em; }
h5 { font-size: 1.25em; }

strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 1em;
}

/* =========================
   Links
   ========================= */

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

/* =========================
   Content Elements
   ========================= */

main {
  width: 100%;
}

img {
  max-width: 95%;
  height: auto;
  border-radius: 8px;
}

table {
  width: 100%;
}

textarea,
input {
  font-size: 16px;
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

.prose pre.astro-code {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;
  max-width: 1000px;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding-left: 20px;
  margin: 0;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

/* =========================
   Tag Page
   ========================= */

.tag-title {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.tag-right-ul li a{
  font-size: 0.9rem;
  color: blue;
}
.tag-right-ul li{
  line-height: 1.2;
}
.tag-title span {
  font-size: 0.9rem;
  color: rgb(var(--gray));
}

.tag-listsmall {
  list-style: none;
  padding: 0 6px;
}
.tag-listsmall li {  
  line-height: 1.2;
}
.tag-listsmall li a{
  text-decoration: none;
  font-size: 0.9rem;
  color:blue;
}
.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-item {
  padding: 0.1rem 0;
  border-bottom: 1px solid rgb(var(--gray-light));
}

.post-link {
  text-decoration: none;
  color: var(--accent);
}

.post-link:hover {
  text-decoration: underline;
}

.blog-list{
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.3;
}

/* =========================
   Accessibility
   ========================= */

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* =========================
   Responsive
   ========================= */

@media (max-width: 1000px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
    margin-bottom: 2rem;
  }

  body {
    font-size: 18px;
  }
}

.imt1 {
  color: red;
}
.imt2 {
  color: blue;
}
.imt3 {
  color: rgb(35, 206, 87);
}
.imt4 {
  color: rgb(219, 7, 7);
}