---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<Header />
			<main>
				<p>
					Setup local development environment with Astro, VSCode, and
					Git. First, install Node.js and npm. Then, create a new
					Astro project using the command:
					<li><code>npm install astro</code></li>
					<li><code>npm init astro@latest</code></li>
					<li><code>npm create astro@latest</code></li>
					<li>
						<code>npx astro dev</code> to start the development server.
					</li><br />
					Next, set up VSCode with recommended extensions for Astro development.
					Finally, initialize a Git repository to manage your code versions.
					<li>
						<code>npm install remark-math rehype-katex</code>
						<code>import remarkMath from "remark-math"</code>
						<li>
							<code>import rehypeKatex from "rehype-katex"</code>

							<li>
								<code>markdown: {}
									<li>
										<code>remarkPlugins: [remarkMath],</code>
										<li>
											<code>rehypePlugins: [rehypeKatex],</code>
										</li>
									</li>
								</code>
							</li>
							<Footer />
						</li>
					</li>
				</p>
			</main>
		</div>
	</body>
</html>
