---
import BaseLayout from "../layouts/BaseLayout3p.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<BaseLayout>
<p>The format for a md file is as follows:</p>
<pre><code>
---
title: ""
description: ""
pubDate: "2026-01-18"
tags: "xxx,yyy"
---

```code
```
</code></pre>
</BaseLayout>
