---
// Sidebar.astro
import { getAllPosts } from "../lib/content";
import { collectTags } from "../lib/tags";

const blogs = await getAllPosts();
const tags = collectTags(blogs);
---
<h4 class="sidebar-title">Tags</h4>
<ul class="tag-listsmall">
  {tags.map(({ tag, count }) => (
    <li>
      <a href={`/tags/${encodeURIComponent(tag)}`}>
        {tag} <span class="count">({count})</span>
      </a>
    </li>
  ))}
</ul>